div {display:inline-block;}

.score{
 font-size: 25px;
}

.size{
 width: 100px;
 height: 175px;
}

.active{
 font-size: 25px;
 color: black;
}

.passive{
 font-size: 25px;
 color: silver;
}

.result{
 font-size: 50px;
}