div {display:inline-block;}

.score{
 font-size: 25px;
}

.size{
 width: 100px;
 height: 175px;
}

.active{
 font-size: 25px;
 color: black;
}

.passive{
 font-size: 25px;
 color: silver;
}

.result{
 font-size: 50px;
}


#lifeBar1 {
  display: inline-block;
  -webkit-appearance: none;
  appearance: none;
  height: 10px;
  vertical-align: -0.2em;
}

#lifeBar1::-webkit-progress-bar {
    background: #ccc;
}

#lifeBar1::-webkit-progress-value {
  background-color: #00cc00;
}


#lifeBar2 {
  display: inline-block;
  -webkit-appearance: none;
  appearance: none;
  height: 10px;
  vertical-align: -0.2em;
}

#lifeBar2::-webkit-progress-bar {
    background: #ccc;
}

#lifeBar2::-webkit-progress-value {
  background-color: #00cc00;
}

